# Firebolt Database Configuration
FIREBOLT_RAG_CHATBOT_ENGINE=my_engine
FIREBOLT_RAG_CHATBOT_DB=ultra_fast
FIREBOLT_RAG_CHATBOT_CLIENT_ID=your_service_account_client_id
FIREBOLT_RAG_CHATBOT_CLIENT_SECRET=your_service_account_client_secret
FIREBOLT_RAG_CHATBOT_ACCOUNT_NAME=account-1
FIREBOLT_RAG_CHATBOT_TABLE_NAME=rag_documents
FIREBOLT_RAG_CHATBOT_LOCAL_GITHUB_PATH=/path/to/your/github/repos
FIREBOLT_RAG_CHATBOT_CHUNKING_STRATEGY=recursive_character_text_splitting
FIREBOLT_RAG_CHATBOT_CHUNK_SIZE=300
FIREBOLT_RAG_CHATBOT_CHUNK_OVERLAP=50
FIREBOLT_RAG_CHATBOT_NUM_WORDS_PER_CHUNK=100
FIREBOLT_RAG_CHATBOT_NUM_SENTENCES_PER_CHUNK=3
FIREBOLT_RAG_CHATBOT_BATCH_SIZE=150
